@using Flurl
@inject HttpClient Http

<div class="simple-form">
<div class="form-group">
    <label style="font-weight:bold">Are you sure you want to Delete this Additional Address?</label><br/>
    <label>Current: @Description </label>
</div>
<button @onclick="SubmitForm" class="btn btn-primary">YES</button>
<button @onclick="Cancel" class="btn btn-secondary">NO</button>
</div>

@code {
    [CascadingParameter] BlazoredModalInstance ModalInstance { get; set; }

    [Parameter]
    public float ShopNumber { get; set; }
    [Parameter]
    public int Id { get; set; }
    [Parameter]
    public string Description { get; set; }
    [Parameter]
    public string DeliveryInfo { get; set; }
    [Parameter]
    public string MapCoordinatesLongitude { get; set; }
    [Parameter]
    public string MapCoordinatesLatitude { get; set; }

    void SubmitForm()
    {
        ModalInstance.CloseAsync(ModalResult.Ok($"Form was submitted successfully."));
        
        var url = Url.Combine("https://jdshops-api-app.azurewebsites.net/api/shops/", ShopNumber.ToString(), "/additional/", Id.ToString());
        Http.DeleteAsync(url);
        var url2 = Url.Combine("/shopDetails", ShopNumber.ToString());
     
    }

    void Cancel()
    {
        ModalInstance.CancelAsync();

    }

}
