@page "/"

<link href="_content/Blazored.Modal/blazored-modal.css" rel="stylesheet" />


<div style="font-weight: bold; font-size: 4rem; text-align: center;">Welcome to JD Shops Locator Website</div>

<Dashboard />
