@using Flurl
@using System.Net
@using Bunit.Extensions
@inject HttpClient Http
@inject NavigationManager navMan



<div class="simple-form">
    <div class="form-group">
        <label for="ShopNumber" style="font-weight:bold">Shop Number</label><br />
        <input @bind="ShopNumber" type="text" class="form-control" id="first-name" placeholder="Enter the Shop Number" />
    </div>
    <div class="form-group">
        <label for="TypeOfRequest" style="font-weight:bold">Choose the tpe of Request</label><br />
        <select class="form-select form-select-sm" aria-label=".form-select-sm example" @bind="TypeOfRequest">
            <option value="@typesOfRequest.NewShop">New Shop</option>
           
        </select>
    </div>
    <div class="form-group">
        <label for="Title" style="font-weight:bold">The title of Request</label><br />
        <input @bind="Title" type="text" class="form-control" id="last-name" placeholder="Enter the Title" />
    </div>

    <div class="form-group">
        <label for="Description" style="font-weight:bold">Description</label><br />
        <textarea @bind="Description" type="text" class="form-control" id="last-name" placeholder="Enter the Description and GoogleMaps link!" />
    </div>

    <button @onclick="SubmitForm" class="btn btn-primary">Submit</button>
    <button @onclick="Cancel" class="btn btn-secondary">Cancel</button>
</div>



@code {

    [CascadingParameter]
    BlazoredModalInstance ModalInstance { get; set; }

    [Parameter]
    public string ShopNumber { get; set; }
    public int Id { get; set; }
    public string Description { get; set; }
    public string Title { get; set; }
    public typesOfRequest TypeOfRequest { get; set; } = typesOfRequest.NewShop;
    public enum typesOfRequest { NewShop}

    public string Status { get; set; } = "New";




    void SubmitForm()
    {
        ModalInstance.CloseAsync(ModalResult.Ok($"Form was submitted successfully."));

        var newTicket = new TicketDto()
        {

            Description = Description,
            Title = Title,
            ShopNumber = ShopNumber,
            TypeOfRequest = TypeOfRequest.ToString(),
            Status = Status

        };
        var url = Url.Combine("https://jdshops-api-app.azurewebsites.net/api/tickets/");
        Http.PostAsJsonAsync(url, newTicket);
        
        

    }

    void Cancel()
    {
        ModalInstance.CancelAsync();

    }


}