@page "/shops"
@using System.Net.Http
@using System.Net
@using System.Security.Policy
@using Bunit.Extensions
@using Flurl
@using Url = Flurl.Url
@inject IJSRuntime JSRuntime
@inject HttpClient Http
@inject NavigationManager navigationManager



<div><h1>List of Shops</h1></div>



@if (shops == null)
{
    <p><em>Loading...</em></p>
}
else
{
<div class="form-group">
    <input class="form-control" type="text" placeholder="Search by Shop Number...."
           @bind="Filter"
           @bind:event="oninput">
    <br />
    <AuthorizeView Roles="Admin, AdvancedUser"><button class="btn btn-primary" @onclick="()=>AddNewShop() "> Add New Shop </button></AuthorizeView>  <AuthorizeView Roles="VerifiedUser, AdvancedUser,Admin"><button class="btn btn-primary" @onclick="()=>RequestToAddNewShop() "> Add ticket to Add New Shop </button></AuthorizeView>
</div>
    <table class="table table-striped">
        <thead class="thead-light">
            <tr>
                <th>Shop Number</th>
                <th>Facia</th>
                <th>Town</th>
                <th>Phone Number</th>
                <th>More Details</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var shop in shops)
            {
                if (!IsVisible(shop))
                {
                    continue;
                }

                <tr>
                    <td style="font-weight: bold">@shop.ShopNumber</td>
                    <td style=""><img src="logos/@(shop.Facia + ".png")" alt="@shop.Facia" width="110px" height="60px" /></td>
                    <td style="font-weight: bold">@shop.Town</td>
                    <td><a href="tel:@shop.PhoneNumber"><button class="btn btn-primary" >Call the shop on @shop.PhoneNumber</button></a></td>
                    <td><button class="btn btn-primary" @onclick="()=>NavigateToShopDetails(shop.ShopNumber)"> More details </button></td>

                </tr>

            }
        </tbody>
    </table>

}


@code
{
    [CascadingParameter] public IModalService Modal { get; set; }

    private List<ShopDto> shops;

    protected override async Task OnInitializedAsync()
    {
        shops = await Http.GetFromJsonAsync<List<ShopDto>>($"https://jdshopsapi.szymanski.uk/api/shops");

    }





    private void NavigateToShopDetails(float id)
    {

        var url = Url.Combine("https://jdshopsapi.szymanski.uk/api/shops/", id.ToString());
        var shop = Http.GetFromJsonAsync<List<ShopDto>>(url);
        var url2 = Url.Combine($"/shopDetails/", id.ToString());
        navigationManager.NavigateTo(url2, true);

    }



    public bool IsVisible(ShopDto shop)
    {

        if (string.IsNullOrEmpty(Filter))
        {
            return true;
        }


        if (shop.ShopNumber.ToString().ToLower().Contains(Filter.ToLower()))
        {
            return true;

        }

        return false;
    }

    public string Filter { get; set; }

    void AddNewShop()
    {

        Modal.Show<AddNewShopComponent>("Add Shop");

    }
    void RequestToAddNewShop()
    {

        Modal.Show<RequestToAddNewShopComponent>("Request to Add the Shop");

    }



}

