
<div style="font-size: 2.5rem; font-weight: bold; font-style: italic;"><center>Dashboard</center></div>

@foreach (var post in Announcements)
{
    <div style="margin: 20px;">
        <table>
            <thead style="font-size: 1.5rem; font-weight: bold">@post.Title</thead>
            <tbody>
                <tr>Posted by: @post.Type</tr>
                <tr>@post.Content</tr>
            </tbody>
            <tfoot>
                <tr>@post.DateCreated</tr>
            </tfoot>
        </table>
    </div>
    <li class="dropdown-divider"></li>
}

@code {
    public List<DashboardAnnouncment> Announcements { get; set; } = new List<DashboardAnnouncment>()
{
        new DashboardAnnouncment{Title = "Welcome", Content = "This is an example how it may look if you going to need it :)", IsPublished = true, Type = "Office", IsDeleted = false},
        new DashboardAnnouncment{Title = "Test", Content = "If this section not going to be used I wil simply delete it", IsPublished = true, Type = "Office", IsDeleted = false}
    };


}
