@using System.Security.Claims
@inherits LayoutComponentBase

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>
    

    <div class="main">
       <div class="top-row px-4;">
           <div style="left: 5px; right: auto"><img src="/css/img/p&h.png" /></div>
           <div style="width: 500px"></div>
           <div style="text-align: right">
               <AuthorizeView>
                   <Authorized>
                       Hello, @context.User.Identity.Name! Your role is @context.User.Claims.First(c => c.Type == ClaimTypes.Role).Value

                   </Authorized>
                   <NotAuthorized>
                       Hello, Stranger! Please Register or LogIn
                   </NotAuthorized>
               </AuthorizeView>
           </div>
               
        </div>

        <div class="content px-4">
            @Body
        </div>
    </div>
</div>
