<div class="top-row pl-4 navbar navbar-dark">
    <a class="navbar-brand" href="">Menu:</a>
    <button class="navbar-toggler" @onclick="ToggleNavMenu">

        <span class="navbar-toggler-icon"></span>
    </button>
</div>
<li class="dropdown-divider"></li>
<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <ul class="nav flex-column">
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Dashboard
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="shops">
                <span class="oi oi-plus" aria-hidden="true"></span> Shops
            </NavLink>
        </li>
        <AuthorizeView Roles="Admin, AdvancedUser">
            <li class="nav-item px-3">
                <NavLink class="nav-link" href="tickets">
                    <span class="oi oi-list-rich" aria-hidden="true"></span> Tickets
                </NavLink>
            </li>
            <li class="nav-item px-3">
                <NavLink class="nav-link" href="users">
                    <span class="oi oi-people" aria-hidden="true"></span> Users
                </NavLink>
            </li>
        </AuthorizeView>
     <li class="dropdown-divider"></li>
        <AuthorizeView>
            <Authorized>
                <li class="nav-item px-3">
                    <NavLink class="nav-link" href="logout">
                        <span class="oi oi-account-logout" aria-hidden="true"></span> Log Out
                    </NavLink>
                </li>
            </Authorized>
            <NotAuthorized>
                <li class="nav-item px-3">
                    <NavLink class="nav-link" href="Register">
                        <span class="oi oi-account-login" aria-hidden="true"></span> Register
                    </NavLink>
                </li>
                <li class="nav-item px-3">
                    <NavLink class="nav-link" href="login">
                        <span class="oi oi-account-login" aria-hidden="true"></span> Log In
                    </NavLink>
                </li>
            </NotAuthorized>
        </AuthorizeView>
        
    </ul>
</div>
<div style="position: absolute; bottom: 20px; width: 90%; border: black; color: black">
<a href="http://szymanski.uk" target="_blank" class="ml-md-auto">Created by Michal Sz.</a>
</div>
@code {
    private bool collapseNavMenu = true;

    private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
